* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(in oklab, blue, red);
    color: #fff;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner{
    font-size: 2vw;
}

#clock {
    font-size:70px;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width :600px) {
    #clock {
        font-size:50px;
        padding: 50px 50px;
        margin-top: 10px;
        border-radius: 10px;
    }
    #banner{
        font-size: 6vw;
    }
    
}